@media all and (max-width: 1000px) {  
    h2, th, td {
        font-size: medium;
    }

    .background {
        background-color: rgb(44,47,51);
    }
    
    .container {
        background-color: rgb(40,43,48);
        height: 100vh;
    }
    
    .left{
        overflow-y: scroll;
        background-color: rgb(54,57,62);
    }
    
    .right{
        overflow-y: scroll;
        background-color: rgb(66,69,73);
    }

    .bday-info {
        border-radius: 40px;
        border-color: black;
        border-width: 2px;
    }

    .main-info{
        height: 90%;
        min-height: auto;
        max-height: 100%;
        border: solid;
    }
}


@media all and (min-width: 1001px) {
    td, p {
        font-weight: bold;
    }
    
    .background {
        background-color: rgb(44,47,51);
    }
    
    .container {
        background-color: rgb(40,43,48);
        height: 100vh;
    }
    
    .left{
        background-color: rgb(54,57,62);
    }

    
    .right{
        background-color: rgb(66,69,73);
    }

    .main-info{
        height: 90%;
        min-height: auto;
        max-height: 100%;
        border: solid;
    }
    
    
    .bday-info {
        border-radius: 40px;
        border-color: black;
        border-width: 2px;
    }
}
